.section.markenidee {
    background-color: #F7F2EB;
    z-index: 4;

    > div {

        @media screen and (max-width: #{$mobile-only}) {
            padding-bottom: 12rem;
        }
    }

    .section-content {
        display: flex;
        justify-content: center;
        margin-top: 8rem;

        @media screen and (max-width: 768px){
            flex-direction: column;
        }

        h3 {
            font-size: 4rem;
            color: $accent-light;
            font-family: $font-family-serif;

            @media screen and (max-width: 1280px) {
                font-size: 3.5rem;
            }

            @media screen and (max-width: 1024px) {
                font-size: 3rem;
            }

            @media screen and (max-width: 768px) {
                font-size: 2.5rem;
                text-align: center;
            }

            @media screen and (max-width: 425px) {
                font-size: 2rem;
                text-align: center;
            }
        }

        p {
            color: #898887;
            font-size: 2rem;

            @media screen and (max-width: 1280px) {
                font-size: 1.6rem;
            }

            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }

        .on-large {
            @media screen and (max-width: #{$mobile-only}) {
                display: none;
            }
        }

        .btn {
            margin: 3rem 0;

            @media screen and (min-width: #{$mobile-only + 1}) {
                display: none;
            }
        }
    }

    .section-part {
        max-width: 56rem;

        @media screen and (max-width: 768px) {
            max-width: 75%;
            margin: 0 auto;
        }

        @media screen and (max-width: 525px) {
            max-width: 100%;
        }

        @media screen and (max-width: #{$mobile-only}) {
            text-align: center;
        }

        &.left {
            margin-right: 4rem;
            margin-top: 5rem;

            @media screen and (max-width: 1150px)  {
                margin-top: 0;
            }

            @media screen and (max-width: 768px) {
                margin: 0 auto;
            }
        }

        &.right {
            margin-left: 4rem;

            @media screen and (max-width: 768px){
                margin: 0 auto;
            }
        }
    }
}