.section {
    $animationStyle: cubic-bezier(0, .47, 1, .48);

    $animationDurationShort: 1000ms;
    $animationDurationMedium: 1500ms;
    $animationDurationLong: 2000ms;

    $animationDelayShort: 500ms;
    $animationDelayMedium: 1000ms;
    $animationDelayLong: 1500ms;

    // shared animations
    &.markenidee,
    &.produkte,
    &.mission,
    &.vision,
    &.hintergrund,
    &.wertschopfung,
    &.kontakt {

        .section-titlebar {
            opacity: 0;
            transition-property: opacity;
            transition-duration: $animationDurationShort;
            transition-timing-function: $animationStyle;
        }

        &.in-view {

            .section-titlebar {
                opacity: 1;
            }
        }
    }

    &.was-wir-tun {

        .circle,
        .top-left-item-wrap .check-item,
        .top-left-item-wrap .close-item,
        .bottom-left-item-wrap .card,
        .right-background {
            transition-property: opacity, transform;
            transition-duration: $animationDurationShort;
            transition-timing-function: $animationStyle;
        }

        .circle,
        .top-left-item-wrap .check-item,
        .top-left-item-wrap .close-item,
        .bottom-left-item-wrap .card,
        .right-background {
            opacity: 0;
        }

        .top-left-item-wrap {

            .check-item {
                transform: translateX(-50%);
                transition-delay: $animationDelayShort;
            }

            .close-item {
                transform: translateX(-50%);
                transition-delay: $animationDelayMedium;
            }
        }

        .card {
            transform: translateX(-50%);

            &:nth-of-type(1) {
                transition-delay: $animationDurationLong;
            }

            &:nth-of-type(2) {
                transition-delay: $animationDurationMedium;
            }

            &:nth-of-type(3) {
                transition-delay: $animationDurationShort;
            }

            @media screen and (max-width: 768px) {

                &:nth-of-type(3) {
                    transition-delay: $animationDurationLong;
                }

                &:nth-of-type(2) {
                    transition-delay: $animationDurationMedium;
                }

                &:nth-of-type(1) {
                    transition-delay: $animationDurationShort;
                }
            }
        }

        .right-background {
            transition-delay: $animationDelayShort;
        }

        &.in-view {

            .circle,
            .top-left-item-wrap .check-item,
            .top-left-item-wrap .close-item,
            .bottom-left-item-wrap .card,
            .right-background {
                opacity: 1;
            }

            .top-left-item-wrap {

                .check-item,
                .close-item {
                    transform: translateX(0);
                }
            }

            .card {
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    transform: translateX(0);
                }
            }

            .circle {
                animation: rotate-negative-to-positive 2s forwards linear;
            }
        }
    }

    &.markenidee {

        .section-part {
            transform: translateX(-50%);
            opacity: 0;

            &.left,
            &.right {
                transition-property: opacity, transform;
                transition-timing-function: $animationStyle;
                transition-duration: $animationDurationShort;
            }

            &.left {
                transition-delay: $animationDelayMedium;
            }

            &.right {
                transition-delay: $animationDelayShort;
            }
        }

        &.in-view {

            .section-part {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    &.produkte {

        .plastic {
            opacity: 0;
            transform: translateY(-100%);
            transition-property: opacity, transform;
            transition-duration: $animationDurationShort;
            transition-timing-function: $animationStyle;
        }

        .section-card {
            transform: translateX(-100%);
            opacity: 0;
            transition-property: opacity, transform;
            transition-duration: $animationDurationShort;
            transition-timing-function: $animationStyle;

            &:nth-of-type(1) {
                transition-delay: $animationDelayLong;
            }

            &:nth-of-type(2) {
                transition-delay: $animationDelayMedium;
            }

            &:nth-of-type(3) {
                transition-delay: $animationDelayShort;
            }
        }

        &.in-view {

            .plastic,
            .section-card{
                opacity: 1;
                transform: translateX(0) translateY(0);
            }
        }
    }

    &.mission {

        .section-row {

            .left,
            .right {
                opacity: 0;
                transition-property: opacity, transform;
                transition-duration: $animationDurationShort;
                transition-timing-function: $animationStyle;
            }

            &:not(.second) {

                .left {
                    transition-delay: $animationDelayMedium;
                }
            }

            &.second {

                .left,
                .right {
                    transform: translateX(-50%);
                }

                .left {
                    transition-delay: $animationDelayLong;
                }

                .right {
                    transition-delay: $animationDelayMedium;
                }
            }
        }

        &.in-view {

            .section-row {

                .left,
                .right {
                    opacity: 1;
                }

                &.second {

                    .left,
                    .right {
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    &.vision {

        .left,
        .right {
            transform: translateX(-50%);
            opacity: 0;
            transition-property: opacity, transform;
            transition-duration: $animationDurationShort;
            transition-timing-function: $animationStyle;
        }

        .left {
            transition-delay: $animationDelayMedium;
        }

        .right {
            transform: translateX(-100%);
        }

        .slice span {
            opacity: 0;
            transition-property: opacity, transform;
            transition-duration: $animationDurationShort;
            transition-timing-function: $animationStyle;
            transition-delay: 3000ms;
        }

        &.in-view {

            .left,
            .right {
                transform: translateX(0);
                opacity: 1;
            }

            .slice span {
                opacity: 1;
            }
        }
    }

    &.hintergrund {

        .circle,
        .logo,
        .derux,
        .bottom,
        .left,
        .right,
        .circles-separator{
            opacity: 0;
            transition-property: opacity;
            transition-duration: 1000ms;
            transition-timing-function: ease-in-out;
        }

        .circle,
        .logo,
        .circles-separator {
            transition-delay: 500ms;
        }

        .derux {
            transition-delay: 1000ms;
        }

        .bottom {
            transition-delay: 1500ms;
        }

        .left {
            transition-delay: 2000ms;
        }

        .right {
            transition-delay: 2500ms;
        }

        &.in-view {
            .circle,
            .logo,
            .derux,
            .bottom,
            .left,
            .right {
                opacity: 1;
            }

            .circle-picture {
                animation: rotate 2s forwards linear 3500ms;
            }
        }
    }

    &.wertschopfung {

        .left,
        .right {
            transform: translateX(-50%);
            opacity: 0;
            transition-property: opacity, transform;
            transition-duration: $animationDurationShort;
            transition-timing-function: $animationStyle;
        }

        .left {
            transition-delay: $animationDelayShort;
        }

        &.in-view {

            .left,
            .right {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    &.kontakt {

        .circle-with-leaves {
            transition-property: opacity;
            transition-timing-function: $animationStyle;
            transition-duration: $animationDurationShort;
            transition-delay: $animationDelayShort;
            opacity: 0;
        }

        &.in-view {

            .circle-with-leaves {
                opacity: 1;
            }

            .circle-picture {
                animation: rotate 2s forwards linear $animationDurationLong;
            }
        }
    }
}